body {
    background-color: bisque;
}
.sip {
    width: 90%;
    max-width: 1000px;
    padding: 10px;
    font-family: cursive;
    font-size: 14px;
    border-style: solid;
    border-color: rgb(182, 23, 23);
    border-width: 4px;
    background-color: beige;
}
.perfil1 {
    padding-top: 30px;
    width: 100%;
    max-width: 900px;
    height: auto;
}
.profile_textochido {
    font-family: "courier new";
    font-size: 24px;
    padding-left: 5%;
}
h1 {
    font-family: arial;
    font-size: 50px;
    text-align: center;
}