.perfil1 {
    max-width: 100%;
    height: auto;
}
.profile_textochido {
    font-family: "courier new";
    font-size: 24px;
}
h1 {
    font-family: arial;
    font-size: 50px;
    text-align: center;
}