@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Delius&display=swap');
body {
    background-color: bisque;
    margin: 0;
}
.parte1{
    border: 10px bisque;
    background-color: bisque;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}
.python {
    background-color: rgb(12, 22, 7);
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 40px;
}
.sip {
    width: 90%;
    max-width: 1000px;
    font-family: "Delius", cursive;
    font-size: 17px;
    padding: 7px;
    border-style: solid;
    border-color: rgb(104, 17, 17);
    border-width: 3px;
    border-radius: 5px;
    background-color: beige;
    box-shadow: 0 2px 4px black;
    margin-bottom: 15px;
    transition: box-shadow 0.3s ease;
}
.sip:hover {
    border-width: 4px;
    box-shadow: 0 2px 8px;
}
.sip:focus {
    border-style: solid;
    border-color: rgb(29, 0, 0);
    border-width: 4px;
    outline: 0px;
}
.perfil1 {
    padding-top: 30px;
    width: 100%;
    max-width: 900px;
    height: auto;
}
.profile_textochido {
    font-family: "Delius", cursive;
    font-size: 24px;
}
.holal {
    font-family: "Delius", cursive;
    font-size: 50px;
    text-align: center;
}
.nop {
    font-family: "Cutive Mono", monospace;
    font-size: clamp(4.5rem, 5vw, 6rem);
    color: azure;
    position: relative;
    bottom: -30px;
}
.pobre {
    font-family: "Cutive Mono", monospace;
    font-size: 22px;
    color: white;
}
.pobreint {
    display: inline-block;
    background-color: black;
    outline: 2px solid rgb(255, 217, 217);
    font-family: "Cutive Mono", monospace;
    font-size: 35px;
    color: white;
    padding: 10px 40px;
    box-shadow: 0 0 10px;
}
.pobrebot {
    color: red;
}
.py {
    display: block;
    width: fit-content;
    background-color: black;
    outline: 2px solid rgb(255, 217, 217);
    font-family: "Cutive Mono", monospace;
    font-size: 20px;
    color: white;
    padding: 10px 20px;
    box-shadow: 0 0 10px;
}
.noseque {
    font-family: "Cutive Mono", monospace;
    font-size: 22px;
}
.pysiz {
    width: 100%;
    max-width: 800px;
    height: auto;
}
.links {
    display: block;
    color: rgb(96, 96, 255);
    width: fit-content;
    outline: 4px solid rgb(87, 156, 212);
    padding: 10px 20px;
    background-color: rgb(2, 0, 24);
    font-family: "Cutive Mono", monospace;
    font-size: 25px;
}
.boto1 {
    font-family: "Delius", cursive;
    font-size: 20px;
    padding: 7px 30px;
    background-color: rgb(240, 229, 218);
    border-style: solid;
    box-shadow: 0 2px 4px black;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
}
.boto1:hover {
    background-color: rgb(223, 212, 200);
    box-shadow: 0 2px 8px
}
.boto1:active {
    position: relative;
    top: 2px;
}
.jobapi {
    font-family: "Times New Roman";
    background-color: rgb(212, 212, 212);
    position: relative;
    height: 100vh;
}
.temp {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding-left: 30px;
    padding-right: 20px;
    padding-top: 25px;
}
.profile_otro {
    font-family: "Delius", cursive;
    font-size: 20px;
}
.onoermano {
    font-size: 55px;
}
.dvdxd {
    position: absolute;
    width: 15%;
    min-width: 150px;
    height: auto;
    pointer-events: none;
}
.zzz {
    font-size: 25px;
}