body {
    background-color: bisque;
}
.sip {
    width: 90%;
    padding: 10px;
    font-size: 16px;
    border-style: solid;
    border-color: rgb(182, 23, 23);
    border-width: 4px;
}
.perfil1 {
    padding-top: 50px;
    max-width: 100%;
    height: auto;
}
.profile_textochido {
    font-family: "courier new";
    font-size: 24px;
    padding-left: 5%;
}
h1 {
    font-family: arial;
    font-size: 50px;
    text-align: center;
}